<h1>Veggie Burgers!</h1>

<div>
    <h2>Burgers to Devour</h2>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div>
    <h2>Previously Devoured</h2>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
    </ul>
</div>

<div>
    <h2>Add Another Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burger">Type of Burger:</label>
            <input type="text" id="burger" name="name">
        </div>

        <button class="btn" type="submit" name="devour">Add Burger</button>
    </form>
</div>